@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
body {
    font-family: 'Open Sans', sans-serif;
}
.my-awesome-navbar ul li a, .log {
    transition: .4s;
    font-size: 13px;
  }
  .my-awesome-navbar ul li a:hover, .log:hover {
    color: #FF5274;
    background: transparent;
  }
  .my-awesome-navbar {
      padding: 30px 0;
      transition: .5s;
      z-index: 20;
      height: auto;
      box-shadow: 0 0 0 0;
      border-bottom: 1px #aaa solid;
  }
  .container{
    width: 90%;
  }
  .my-awesome-navbar .row {
      margin: 0;
  }
  li{
    
      list-style: none;
  }
  .logo{
    width: 100px;
  }
  .fijo{
    transition: .4s;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
  }
  .fondo{
      background-image: url("../img/hero-min.jpg");
      background-size: cover;
      height: 750px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .bt1{
    padding: 0 40px;
    border-radius: 100px;
    border: 1.5px white solid;
    background-color: transparent !important;
    transition: .4s;
  }
  .bt1:hover{
    color: #FF5274;
    border: 1.5px #FF5274 solid;
    background: transparent;
  }
  .bt2{
    padding: 13px 35px 13px 35px;
    border-radius: 100px;
    color: white;
    background-color: rgb(255, 82, 116);
    transition: .3s;
    margin: 8px;
    text-align: center;
    padding: 15px 40px;
  }
  .bt2:hover{
   background-color: #DA3A5D;
  }
  .bt3{
    padding: 13px 35px 13px 35px;
    border-radius: 100px;
    border: 1.5px #FF5274 solid;
    color:#FF5274 ;
    transition: .3s;
  }
  .bt3:hover{
    background-color:#FF5274;
    color: white;
   }
 
  .parrafo{
      color: white;
    
  }
  .parrafo>div{
      width: fit-content;
      margin: 0 auto;
  }
  .par{
      margin-top: 50px;
      font-size: 20px;
      text-align: center;
      margin-bottom: 90px;
  }
 .titulo{
     margin: 0;
     text-align: center;
     margin-bottom: 40px;
    } 
 .icono{
    position: absolute;
    animation: sube-y-baja 3s alternate infinite;
    bottom: 20px;
    color: white;
}


@keyframes sube-y-baja {
    0% {
        transform: translateY(0);
    }
    34% {
        transform: translateY(-10px);
    }
    68% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);        
    }
}
.contenedor{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 750px;
}
.img{
    width: 11%;
    align-self: flex-start;
    margin-right: 16px;
}
.ti{
    font-size: 15px;
    margin: 0;
}
.tex{
    font-size: 15px;
    line-height: 29px;
    color: rgba(28,54,83,.6);
    padding-bottom: 20px;
}
.textos{
    padding: 120px 80px;
}

.columna{
    display: flex;
}
.tercera{
    background: #F3F4F8;
}
h3{
    font-size: 24px;
    color: #3D4351;
    margin: 0 0 20px;
    margin-bottom: 20px;
}
.t{
    font-size: 15px;
    line-height: 29px;
    color: rgba(28,54,83,.6);
    padding-bottom: 20px;
}
.lista{
    margin-top: 100px;
}
h5{
    font-size: 15px;
    color: #3D4351;
    
}
.iconos img{
    width: 2%;
    align-self: flex-start;
    margin-right: 16px;
}
.uno{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #E6E9EA;
}
.icono1{
    padding: 6px 0 0;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
}

.texto{
    display: inline-block;
    width: 75%;
}
.dos{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #E6E9EA;
}
.icono2{
    padding: 6px 0 0;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
}
.texto{
    display: inline-block;
    width: 75%;
}
.tres{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #E6E9EA;
}
.icono3{
    padding: 6px 0 0;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
}

.texto{
    display: inline-block;
    width: 75%;
}
.a{
    width: 60%;
}
.tercera .ipad-wrap{
    width: 706px;
    height: 1002px;
    background: url(../img/ipad-device.png) center no-repeat;
    z-index: 1;
}
.tercera .iphone-wrap{
    width: 304px;
    height: 620px;
    background: url(../img/iphone6.png) center center no-repeat;
    position: absolute;
    left: 530px;
    bottom: 130px;  
}
.device-img {
    position: absolute;
    margin-top: 130px;
    right: 61%;
}
.cuarto{
    background: white;
    position: relative;
    margin-top: -20px;
    padding: 120px 0;
    overflow: hidden;
}
.l{
    padding: 8px 40px;
    font-size: 13px;
    display: inline-block;
    margin-top: 15px;
}
.z{
    font-size: 15px;
    line-height: 29px;
    color: rgba(28,54,83,.6);
    padding-bottom: 20px;
}
 .cuarto .laptop{
    position: absolute;
    width: 916px;
    height: 540px;
    background: url(../img/macbook-pro.png) center center no-repeat;
    top: 114px;
    left: 50%;
}
.feature-list{
    padding-left: 60px;
}
.quinta{
    margin-top: 120px;
    background: url(../img/polygonal-bg.jpg) center center no-repeat #333844;
    padding-bottom: 190px;
    position: relative;
}
.i{
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    margin: 0 0 20px;
    padding-top: 10%;
    text-align: center;
}
.version{
    font-family: Nunito,sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #F69D52;
    vertical-align: top;
    margin-left: -8px;
    font-style: normal;
}
.c{
    color: #ACB1B4;
    text-align: center;font-size: 15px;
    line-height: 29px;
    padding-bottom: 20px;}
.w{
    font-size: 13px;
    display: inline-block;
    margin-top: 10px;
    padding: 15px 40px;
}

.logod{
    width: 230px;
    height: 230px;
    position: absolute;
    bottom: -95px;
    left: 42%;
    animation: sube-y-baja 3s alternate infinite;
}

@keyframes sube-y-baja {
    0% {
        transform: translateY(0);
    }
    34% {
        transform: translateY(-10px);
    }
    68% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);        
    }
}
.texto center{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.center{
    text-align: center;
}
.izquierdo{
    padding-right: 100px !important;
    border-right: solid 1px #E6E9EA;
   
}
.col-md-12 h3{
    margin-bottom: 70px;
}
.izquierdo h5{
    font-size: 15px;
    color: #3D4351;
}
.derecho{
    padding-left: 100px !important;
}
.la{
    font-size: 15px;
    line-height: 29px;
    color: rgba(28,54,83,.6);
    padding-bottom: 20px;
}
.derecho{
    padding-left: 100px;
}    
.q{
    margin-bottom: 70px;
}.o{
    margin-right: -15px;
    margin-left: -15px;
}
.dostexto{
    background: #F3F4F8;
    padding: 180px 80px;
    padding-bottom: 100px;
}
.galeria{
    background: #F3F4F8;
}
.center{
    margin: 0;
}
.center a{
    font-size: 11px;
    font-weight: 500;
    margin-top: 35px;
    color: #FF5274;
    text-align: center;

}
.paga{
    text-align: center !important;
    margin: 0 !important;
}
.paga a{
    font-size: 15px;
    line-height: 29px;
    color: rgba(28,54,83,.6);
    
}
.b{
    padding: 8px 40px;
    text-transform: uppercase;
}
.photo {
    height: 250px;
    overflow: hidden;
    position: relative;
}
.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.photo .mask {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255,255,255,.5);
    position: absolute;
    transition: .4s;
    opacity: 0;
}
.xxxx{
    margin-top: 55px;
    text-align: center;
    font-size: 13px;
}
.photo .mask img {
    width: 10px;
}
.photo .responsive-img {
    transition: .3s;
}
.photo:hover .responsive-img{
    transform: scale(1.1)
}
.photo:hover .mask{
    opacity: 1;
}
